sudo: required

services:
 - docker

before_install:
 - sudo docker pull centos:7

script:
 - sudo docker run --rm=true -v $PWD:/src/:z centos:7 bash -c "yum install -y epel-release && yum install -y python-pip augeas augeas-libs gcc make && cd /src && make install-deps build && make test"

notifications:
  email: false
