### Additional requirements

# pytest is fixed at 3.6.4 because never version (3.7.*) requires scandir, which depends on gcc
pytest==3.6.4
pytest-ordering
funcsigs
git+https://github.com/leapp-to/leapp
