### Install all requirements from snactor
#-r https://raw.githubusercontent.com/leapp-to/snactor/master/requirements.txt
#-r https://raw.githubusercontent.com/leapp-to/snactor/master/requirements-tests.txt
#
### GitHub links
#git+https://github.com/leapp-to/snactor.git
#
### Additional requirements
